[2018-07-04 02:40] PengZhenghao opened #1 "Excuse me, but where the codes?"

[2018-07-04 06:19] wzmsltw commented on #1
Hi, I have not finish the preparation work yet. Codes will be released by the ending of this month.

[2018-07-09 05:01] #1 closed

[2018-08-23 12:20] ilan1987 opened #2 "PEM - sampling the high low and medium"
There are some inconsistencies between the paper and the implementation when it comes to sampling data for predicting the iou in the PEM. According to the paper you sample with a 1 to 2 ratio between negative and positives. according to the code, you measure according to the ratio between positive and negatives and according to the ratio between medium and positive. can you add more information ab

[2018-08-30 13:16] suhaisheng commented on #2
@ilan1987 ， hello, according to the paper,  we take all positive proposals and randomly sample the proposals in the negative set to insure that the ratio between the two selected sets is nearly 1:2 for data balance. However, we also try to use some proposals of medium set with g_iou in [0.3, 0.7] for training and find that the performance can be further boosted with this setting. Hence in the fina

[2018-09-01 09:25] #2 closed, assigned to nobody

[2018-09-05 13:39] cc786537662 opened #3 "HOW about THUMOS2014 result?"
this repo will get ActivityNet v1.3 result according to your README,but in your paper,we can also  see THUMOS2014 result, so could you please release some pre-trained model on THUMOS2014 dataset?
I believe the model in ./models/TEM or PEM is pre-trained model on ActivityNet ?

[2018-09-17 07:42] ivyvideo opened #4 "ERROR about activitynet dataset"
Hi, thanks for your great contribution!
However I have two questions while I am downloading the dataset activitynet-1.3 as follows:
1. It shows that some of the youtube accountis terminated so the video is not available either. ![1](https://user-images.githubusercontent.com/42105211/45005810-13abb280-b028-11e8-8a68-5fb0b7919710.png)
2. Due to some unknown reasons, the video is unable to extract, a

[2018-09-17 10:47] ivyvideo opened #5 "400-d vectors in csv_mean_100.csv file"
Hi, as you mentioned in the paper, **RGB** and **optical flow** features are extracted by two-stream network.
So I am wondering what is the meaning of 400-d vector in .csv file?
Are they ordered? For example, the first 200-d means RGB feature and the rest means optical?

[2018-09-18 01:49] cc786537662 commented on #4
I got the same issus here, and I only get 17721 videos from youtube instead, and I think this happens due to the absence of those links in youtueb website.

[2018-09-18 02:42] wzmsltw commented on #4
Hi

There are actuallly many videos un-available  since some video may be deleted by author. Actually, I only downlowned 19228 videos last year. So  I think you can upload a file containing the list of missing video, and I can upload missing videos.

[2018-09-18 02:43] wzmsltw commented on #5
Hi

The first 200-d feature  are RGB feature and the rest are optical-flow feature. They are simply concated.

[2018-09-18 02:43] #5 closed

[2018-09-18 02:48] wzmsltw commented on #3
Hi, we are not plan to release code or model for thumos-14 yet.

[2018-09-18 02:48] #3 closed

[2018-09-18 07:59] xlliu7 opened #6 "How to classify generated proposals using UNet?"
As described in your paper, you perform action detection by classifying proposals using Untrimmed Net or SCNN. I am trying to do this with UntrimmendNet but don't know how.
Can you provide more details? Do I need to re-train UntrimmedNet based on BSN generated proposals or the "shots" described in the UntrimmedNet paper?  And how about testing? What are the inputs and outputs?

[2018-09-18 08:38] Pilhyeon opened #7 "Could I get original TSN features?"
Hello,

I'm trying to experiment with this model using original features.
But I'm in trouble of acquiring video features from "CUHK & ETH & SIAT Solution to ActivityNet Challenge 2016" model.
I want to get the original features used in your paper. (2048-dim I think, and whose length is not rescaled to 100)
Will you able to provide the 2048-dim original two stream features not rescaled?

Thank you.

[2018-09-19 02:12] coder-LeeTao commented on #4
Hi,
Thank you for your contribution! I only get 18408 videos. I made a json file to record the data that I was missing. @wzmsltw
[unload_videos.zip](https://github.com/wzmsltw/BSN-boundary-sensitive-network/files/2395157/unload_videos.zip)

[2018-09-19 13:40] wzmsltw commented on #7
Hi Pilhyeon

During feature extraction, we use "fc-action" layer, so the dimension of feature is 400 ( 200 + 200). I will upload feature zip file days later.

[2018-09-19 13:40] #7 closed

[2018-09-19 13:45] wzmsltw commented on #6
Hi, we use UNet trained on UCF-101 to generate video-level classification results for testing videos, then use video-level class as the class of all proposals in this testing video.
And for SCNN, we use pre-trained model ( released by Shou Zheng) to directly classify the generated proposals.

[2018-09-19 13:45] #6 closed

[2018-09-19 14:55] wzmsltw commented on #7
Hi Pilhyeon

I am uploading original feature in BaiduYun:

链接: https://pan.baidu.com/s/1871KzGL0KlVCgTBpMf_sag
提取码: h9st

The uploading procedure will finish in one or two hours. Please feel free to reopen the issue if you have furthur question.

[2018-09-20 10:41] cominger commented on #7
Hello, @wzmsltw
First of all, Thanks to uploading the original feature!
However, downloading the file from Baidu Yun required the Baidu account.
Could you able to re-upload the same file to google drive for non-Badiu users?

Thank you

[2018-09-20 11:50] wzmsltw commented on #7
Hi @cominger , I am sorry that my google cloud disk does not has enough space for the feature. So you can sign up a baidu account or can you find any free net-disk?

[2018-09-20 13:44] wzmsltw commented on #4
Hi all
I have uploaded missing videos (those I have)  in Baidu Yun Disk, based on @coder-LeeTao 's list.

链接: https://pan.baidu.com/s/1DcifxIAijSe7C-jQx5KuMA
提取码: 6txk

[2018-09-20 13:44] #4 closed

[2018-09-21 07:00] cc786537662 commented on #4
same issue here，I have downloaded the common missing part videos between mine and coder-LeeTao's , but I still missing around 1400 videos ,
[missing.txt](https://github.com/wzmsltw/BSN-boundary-sensitive-network/files/2404238/missing.txt)

[2018-09-21 16:56] samxuxiang opened #8 "Issue regarding rescaling the feature length"
Hi,

(1) You mentioned that "**For convenience of training and testing, we rescale the feature length of all videos to same length 100**", if I understand correctly, this means that you only extract 100 snippets per video clip? Also would you mind elaborating on how the video resizing is done?

(2) Also there are many improvements for the winning solution compared to BSN baseline, will you conside

[2018-09-22 20:05] ZENGXH opened #9 "step in extracting frames from video"
Hi Tianwei,

I would like to ask for the `-s`(step) setting you used in [this command](https://github.com/yjxiong/temporal-segment-networks/blob/2a496535b91515ccb7537327230ceaf30645eced/tools/build_of.py#L52).

Did you change the `-s 1` to `-s 8` or `-s 16`? If not, how do you skip the sampling of frames?

Thanks! ;)

[2018-09-23 03:46] samxuxiang opened #10 "Inconsistency in ground truth region generation"
Hi, I think there is some inconsistency between the code and your paper in terms of how ground truth regions are been generated. In the TEM_load_data.py file, you have:

 `gt_lens=gt_xmaxs-gt_xmins `
 ` gt_len_small=np.maximum(tgap,0.1*gt_lens)`
 `gt_start_bboxs=np.stack((gt_xmins-gt_len_small/2,gt_xmins+gt_len_small/2),axis=1)`
 `gt_end_bboxs=np.stack((gt_xmaxs-gt_len_small/2,gt_xmaxs+gt_len_smal

[2018-09-23 07:02] wzmsltw commented on #10
Hi @samxuxiang , thanks for pointing out this. I think this is a typo in my paper. But actually, you can also try 0.2*gt_lens in experiemnts.

[2018-09-23 07:04] #10 closed

[2018-09-23 07:08] wzmsltw commented on #9
Hi @ZENGXH , I did not use optical flow codes from cuhk. I use https://github.com/feichtenhofer/gpu_flow for flow extraction.
And for here, actually I think "-s 1" should be used. During extracting feature on ActivityNet, we set each 16 frames as a snippet, and we calculate 5 frames using 6 consecutive frames in the middle of snippet. Thus it should be -s 1.

[2018-09-23 07:08] #9 closed

[2018-09-23 07:18] wzmsltw commented on #8
Hi @samxuxiang
(1) I extract feature for each 16 frames ( a snippet) and get feature sequence with uncertain length, than I rescale the featue sequence to 100.  And I had provide reference code in data/activitynet_feature_cuhk/data_process.py

(2) Since the anet-18 solution is emsembled by many results, and I have deleted many intermediate results.  So I am not planning to release codes of anet-18

[2018-09-23 07:18] #8 closed

[2018-09-25 03:56] xlliu7 commented on #6
Hi Tianwei
Thanks for your response. How about proposals of ActivityNet? In your paper, I notice that you use the method referenced as "UTS at ActivityNet 2016". I found this method uses MFCC, iDT features for ensemble, which is quite complicated and time-consuming. Do you actually conduct the original method for classification? Can you share the video-level classification scores? Thanks!

[2018-09-26 04:46] coder-LeeTao opened #11 "About action detection with proposals"
Hello, thank you for your contribution.
In the paper,  _On ActivityNet-1.3, we use top-1 video-level class generated by classification model [44] for all proposals in a video._ ([44] means UTS at ActivityNet 2016). But I can't find the source code.
So my question is how do you actually do action detection with proposals?
Thank you very much!

[2018-09-26 06:57] wzmsltw commented on #11
Hi @coder-LeeTao , we obtain [44]'s result files by e-mail in last year. Recently, I found that these result files may have some problem. Thus we are replacing it with classification results of another solution (CUHK at ActivityNet 2017), and will update our arxiv paper in several days.
If you also need their classification results for action detection, you can send a email to [CUHK at ActivityNet

[2018-09-26 06:57] #11 closed

[2018-09-26 07:01] wzmsltw commented on #6
Hi @xlliu7 , we obtain [44]'s result files by e-mail in last year. Recently, I found that these result files may have some problem. Thus we are replacing it with classification results of another solution (CUHK at ActivityNet 2017), and will update our arxiv paper in several days.
If you also need their classification results for action detection, you can send a email to [CUHK at ActivityNet 2017]

[2018-09-26 08:55] coder-LeeTao commented on #11
Thank you very much @wzmsltw ! I have another question. In the paper, _On THUMOS14, we use top-2 video-level classes generated by UntrimmedNet [43] for proposals generated by BSN and other methods, where multiplication of confidence score and class score is used for retrieving detections._
My understanding is using <img src="https://latex.codecogs.com/gif.latex?p_f=p_{conf}*p^s*&space;p^e&space;*&

[2018-09-26 11:18] wzmsltw commented on #11
Actually, top-2 means we combine two classes with a proposal separately. So the first proposal result with class_1 has score  p_f = p_{conf} * p^s * p^e * p_{class_1}, and the second proposal result with class_2 has score  p_f = p_{conf} * p^s * p^e * p_{class_2}. And we actually use NMS on proposals first, then combine proposals with action classes.

[2018-09-26 14:59] coder-LeeTao commented on #11
Thank you very much@wzmsltw ! So in the final result, is a proposal used twice(with different action class label)?

[2018-09-27 00:50] wzmsltw commented on #11
Yes

[2018-09-28 12:24] coder-LeeTao opened #12 "Abount feature extraction on THUMOS14?"
Thank you for your great help!
I have another question. About THUMOS14, may I ask what is the way you take to extract features?
The FC layer output of anet is 200 classes. Did you modify the FC layer and then train on THUMOS14?

[2018-09-28 14:41] wzmsltw commented on #12
Hi @coder-LeeTao , we did not finetune this network on THUMOS14. We direct use the output of last fc layer (without softmax) as the feature. Actually, you can also use the 2048-dim fc layer.

[2018-09-28 14:41] #12 closed

[2018-10-05 17:34] JingweiJ opened #13 "Could we get features for THUMOS'14?"
Hi Tianwei,

Thanks for your great work! Could we also have extracted features of THUMOS'14? It would be great if the rescaled and original features for THUMOS'14 are provided. Thank you so much!

[2018-10-06 05:06] ivyvideo opened #14 "How to get the results of AR@50, AR@100, AR@200..."
Hi Will,
Could you please tell me how to control the different numbers of proposals **precisely**, e.g. 50, 100, 200?
I know it maybe by setting the threshold, but I have no idea how to do it and make the number of proposals are excatly the amount you want.
Thanks!

[2018-10-08 01:31] wzmsltw commented on #13
Hi Jingwei, sorry for the delay. I have upload features of THUMOS14 in BaiduYun. Notice that for THUMOS14, we do not rescale feature since the feature sequence is too long. Instead, sliding window is used on THUMOS-14. You can read paper for more detail.

链接:https://pan.baidu.com/s/1Vj5WITTC8OqrEgJVrZnkKA
密码:amjm

[2018-10-08 01:31] #13 closed

[2018-10-08 01:33] wzmsltw commented on #14
Hi @ivyvideo , I use interp1d function to get precisely AR@N:

[code]

[2018-10-08 01:33] #14 closed

[2018-10-08 06:11] JingweiJ commented on #13
Hi Tianwei, thanks for you quick response. However, the name of compressed file is "feature_anet_200.zip". Are they features of activity net or THUMOS14?

[2018-10-08 06:28] wzmsltw commented on #13
Hi Jingwei. This is the feature of THUMOS14, which is extracted using models pre-trained on ActivityNet.

[2018-10-08 23:57] JingweiJ commented on #13
Thanks! Still, I only find 413 csv files each in rgb and flow folder from the BaiduYun link, while the number of test and validation videos together is 1574+1010=2584. Are there some files missing?

[2018-10-09 01:04] wzmsltw commented on #13
In THUMOS-14, only 200 (validation) + 213 (testing) = 413 videos are temporally annotated, thus I only extract features for these videos.

[2018-10-09 03:21] fkxssaa opened #15 "Training code for THUMOS14"
Thank you for your contribution.Limited by the computer, I could only do experiments on the small data set THUMOS14.However, there was something I did not understand about the training process of THUMOS14, which caused me to fail to achieve the effect in the paper.For example, the setting of the TEM training set in THUMOS14 (the sliding window size is 100, so how to regularize time for each group)

[2018-10-11 05:49] fizamurtaza opened #16 "Thumos14 features required"
Hello,

Can you please also provide the rescaled features for Thumos14 similar to ActivityNet dataset?

[2018-10-11 06:39] #16 closed

[2018-10-11 06:47] fizamurtaza commented on #16
Thank you.
I think the link you provided has expired.  I am getting this error:

啊哦，你所访问的页面不存在了。
可能的原因：

1.在地址栏中输入了错误的地址。

2.你点击的某个链接已过期。

返回上一级页面>

回到网站首页>

[2018-10-11 07:10] fizamurtaza commented on #16
Can you please provide the fresh link?
Thanks in advance.

[2018-10-11 08:36] wzmsltw commented on #16
Hi @fizamurtaza, I can still open this link. Can you try again?
link: https://pan.baidu.com/s/1Vj5WITTC8OqrEgJVrZnkKA
password: amjm

[2018-10-11 08:47] wzmsltw commented on #15
Hi fkxssaa, please refer our paper for details. We have released feature for THUMOS-14, which is extracted using TSN model trained on ActivityNet. You can find previous discussion in https://github.com/wzmsltw/BSN-boundary-sensitive-network/issues/13

[2018-10-11 08:47] #15 closed

[2018-10-11 09:45] fizamurtaza commented on #16
Thank you again.
I am still unable to download it, I think it is because of Baidu...

[2018-10-11 12:03] wzmsltw commented on #16
I create a new link without password, you can have a try:

https://pan.baidu.com/s/1SDGuQu08qYeTij6H3NBRgA

[2018-10-11 14:16] fizamurtaza commented on #16
Thank you.
I get this error every time i click on the link:
"https://pan.baidu.com/error/404.html"
Is is possible to upload on Google cloud?

[2018-10-12 06:49] fizamurtaza commented on #16
Hello,
Can you tell me why i am having 404 error?

[2018-10-15 01:44] wzmsltw commented on #16
I am not sure why you cannot open this link, it is fine in my browser. I will upload it on Google cloud soon.

[2018-10-15 02:00] wzmsltw commented on #16
You can download feature from: https://drive.google.com/file/d/1yRvebY46qxP0Sq-YellIktsMFEm1id1A/view?usp=sharing

[2018-10-16 03:50] fizamurtaza commented on #16
Many thanks.

[2018-10-21 03:00] guilk opened #17 "The threshold for Soft-NMS"
Hello,

In the paper, you mentioned the threshold of Soft-NMS is set as 0.65. While in the code, you use a if statement as
https://github.com/wzmsltw/BSN-boundary-sensitive-network/blob/5800e3d2b84d8c09c249016dc97a34337bdc0f6f/Post_processing.py#L89

I was wondering whether you could provide some details about this part.

Thanks

[2018-10-24 13:13] fkxssaa opened #18 "Request classification results"
Thank you for your contribution! I've learned a lot from your code. The caffe files about anet_16 and UntrimmedNet can't compiled on my computer. Could you please send me the classification results of anet and UntrimmedNet on ActivityNet and THUMOS data sets respectively?
email : 349249680@qq.com

[2018-10-27 21:14] samxuxiang opened #19 "Some questions about the features been used"

[2018-10-28 00:13] #19 closed

[2018-10-29 02:06] wzmsltw commented on #18
Hi @fkxssaa  , we obtain [44]'s result files by e-mail in last year. Recently, I found that these result files may have some problem. Thus we are replacing it with classification results of another solution (CUHK at ActivityNet 2017), and will update our arxiv paper in several days.
If you also need their classification results for action detection, you can send a email to [CUHK at ActivityNet 201

[2018-10-29 02:06] #18 closed

[2018-10-29 05:51] fkxssaa commented on #18
Thank you for your patient help.
1, I used BSN to generate candidate proposals on THUMOS14. After soft-nms, I only got one percentage point difference between the results and the paper on temporal action proposals task.
2, Then I used the soft-NMS results, directly taking the first 200 results, and combined them with the Unet classification result top2 to get 400 results, but I got them on The off

[2018-10-29 06:51] wzmsltw commented on #18
Hi @fkxssaa , I have send codes of  detection post-processing to you, for reference. And notice that in detection stage, we use Hard-NMS instead of Soft-NMS

[2018-11-05 06:57] VSunN opened #20 "About BSN improvement B"
Hi,
Mentioned in your ActivityNet report improvement B that you adopt TSN and P3D pretrained on Kinetics-400 dataset for video feature extraction. I wonder whether the model fine-tuned on the ActivityNet dataset. If not, are you using the feature of the last pooling layer?

[2018-11-05 07:34] wzmsltw commented on #20
Hi @VSunN , the model is not fine-tuned. And we use the classification layer（without softmax）as feature.

[2018-11-05 07:34] #20 closed

[2018-11-05 08:04] VSunN commented on #20
Thank you for your reply.
Does it mean that for the P3D network, when the input interval is 16 frames, the output feature length is 400 instead of 200?
@wzmsltw

[2018-11-05 13:30] wzmsltw commented on #20
Yes

[2018-11-19 08:11] zjyalice opened #21 "IOError"
Hi~
When i run the code `python TEM_train.py`, i meet a error about feature,like this:
`IOError:File ./data/activitynet_feature_chunk/csv_mean_100/v_QOlsCBRmfWY.csv does not exit`
I check the  zip_csv_mean_100.zip and cannot find this file...
What's wrong with it? Is it the feature missing?

[2018-11-20 01:57] wzmsltw commented on #21
Hi @zjyalice ，I have this file in my folder and the zipfile actually contain this file. Are you unzip correctly?

[2018-11-20 03:47] zjyalice commented on #21
OMG！I use code unzip to unzip the file,it indeed does not cotain it , but i unzip in windows again, i find this file! Maybe i unzip incorrectly....So stupid... (╥﹏╥)
So sorry to bother you ！

[2018-11-20 05:44] wzmsltw commented on #21
Maybe there are some problem about unzip command, and I am very glad to here everything is ok now.

[2018-11-20 05:44] #21 closed

[2018-12-10 03:30] 666zcli opened #22 "ValueError: cannot reshape array of size 16 into shape (16,100,newaxis)"
Hi Tianwwei,
I download the data from GoogleCloud and when  I ran the TEM_train.py, there is ValueError: cannot reshape array of size 16 into shape (16,100,newaxis). Do i unzip the dataset incorrectly?
Thanks

[2018-12-11 21:36] zijunwei opened #23 "Sharing proposals of THUMOS14?"
Thanks for sharing your work on github!
Is it possible to share the THUMOS14 proposal results? We do not need the code or model, just a json file with the proposals (video-id, start, end, score) would be fine. We want to compare our proposal methods with this and do some analysis.
Many thanks.

[2018-12-12 01:54] wzmsltw commented on #23
Hi @zijunwei , please tell me your email address.

[2018-12-12 01:54] #23 closed

[2018-12-12 01:55] wzmsltw commented on #22
Hi @666zcli , I guess it is an unzip problem, or maybe you can try BaiduYun

[2018-12-12 01:55] #22 closed

[2018-12-12 03:33] zijunwei commented on #23
Hi the email address is zijwei@cs.stonybrook.edu. Many thanks

On Tue, Dec 11, 2018 at 8:54 PM TianweiLin <notifications@github.com> wrote:

[2019-01-15 13:09] hongsong-wang commented on #23
Could you also send me the proposals. My email address is hongsongsui@gmail.com. Thanks!

[2019-01-16 07:43] wzmsltw commented on #23
Hi @hongsong-wang , have sent. Please check your mailbox.

[2019-02-22 07:45] GGQ1996 opened #24 "Could we get C3D features for THUMOS'14?"
Hi Tianwei,
Thanks for your great work！ Can you provide the C3D features for THUMOS14？It would be great if the original features for THUMOS'14 are provided. Thanks!

[2019-02-24 12:09] LeavesLei commented on #23
Hi, Tianwei Lin, I am a senior student form Beihang University. I plan to study BSN as my bachelor thesis. Could you sent me the dasaset result after two-stream-network. My email is leishiye@gmail.com. Thank you!

[2019-02-25 02:06] wzmsltw commented on #23
@LeavesLei have sent

[2019-02-25 02:50] wzmsltw commented on #24
link: https://pan.baidu.com/s/1UMQ0PMcEQfpsEKKtWSHiaw
code: v83b

[2019-02-25 02:50] #24 closed, assigned to nobody

[2019-02-27 01:56] zjyalice commented on #23
Hi~Tianwei Lin , could you send me the proposals about THUMOS14 ? My email address is 1286014974@qq.com. Thank you very much and best whishes!

[2019-02-27 07:09] wzmsltw commented on #23
@zjyalice have sent

[2019-03-07 11:31] shiyi001 opened #27 "question about action detection performance on activity-net"
Hello, Tianwei~ I tried to reimplement your action detection experiments on activity-net, but only get a poor result. Here is my results using different iou thresh on NMS:

| IOU thresh | map@0.5 | map@0.75 | map@0.95 | average |
| :---------: | :---------: | :---------: | :----------: | :-------: |
| 0.3 | 0.450 | 0.274 | 0.078 |  0.281  |
| 0.4 | 0.455 | 0.280 | 0.078 | 0.287  |
| 0.5 | 0.450 |

[2019-03-07 11:58] wzmsltw commented on #27
Hi @shiyi001 , please refer results on our updated paper (my homepage and arxiv), where BSN reach 30.03 average mAP. Thus your results seens close.
Please leave your email and I will sent your code.

[2019-03-07 11:59] #27 closed, assigned to nobody

[2019-03-07 12:00] shiyi001 commented on #27
My email is i_am_shiyi@163.com. Many thanks again.

[2019-03-09 13:09] Scipio1996 commented on #16
Hello, THUMOS 2014 page can not found. Can you give me Baidu Yun link? Thank you very much.

[2019-03-22 02:03] XiongChengxin commented on #16
@Scipio1996 THUMOS14 website is accessible now.

[2019-03-22 16:42] srikanth-sfu opened #28 "Request for activitynet train/validation predictions"
Hi,

Thanks for releasing your code. I was wondering if you could also share the proposal predictions on activitynet training and validation sets? Thanks so much!

[2019-03-27 04:02] wduo commented on #7
Hi! Tianwei,@wzmsltw
I have the following questions I would like to ask you.

1. When I extract the features of the 'fc-action' layer, I get the feature size (25, 10, 200), where 25 is the num_frame_per_video parameter in tsn. What does 10 mean? In the feature extraction process, did you set num_frame_per_video to the total number of frames in the video?
2. In the readData function of the data_pro

[2019-03-27 06:32] wduo commented on #7
@wzmsltw
About question 1, the link of eval_net.py here: https://github.com/yjxiong/temporal-segment-networks/blob/master/tools/eval_net.py
Should I save the 'frame_scores' of line92 to a separate CSV file (a video corresponds to a CSV file)?

About question 2，the link of data_process.py here: https://github.com/wzmsltw/BSN-boundary-sensitive-network.pytorch/blob/master/data/activitynet_feature_cu

[2019-03-27 07:57] wzmsltw commented on #28
You can just train the model and get predictions by yourself.

[2019-03-27 07:57] #28 closed, assigned to nobody

[2019-03-31 02:32] ymxv opened #29 "how to unpack the original features?"
@wzmsltw Lin, thanks for your repo.

 I have downloaded the original features you provided, but how to unpack and use the features, any ideas?

i use command `cat original_spatial_csv.tar.gz.0* > original_spatial_csv.tar.gz`, and then `tar -zxvf original_spatial_csv.tar.gz`, but error occurred
[code]

[2019-04-01 06:36] PeisenZhao commented on #27
Hi  Tianwei,
I also try to reimplement your action detection experiments on activity-net 1.3.
Can you send me your code which generates the detection result?
pszhao@sjtu.edu.cn
Many thanks.

[2019-04-01 06:41] xinyeCH commented on #23
Hi, Tianwei LIn, could you also send me the proposals of THUMOS14? My mail address is xinye136@gmail.com. Thanks very much!

[2019-04-01 11:31] xinyeCH opened #30 "what is AR@AN results of rescaled feature on THUMOS14?"
Hi, Tianwei Lin, Thank you for your contribution!  I have do some experiments on thumos14 based on your training code for ActivityNet!  During feature encoding, I rescale the feature sequence to 100, but I got poor results that AR@100 is about 22%. I notice that you do not rescale feature on Thumos14.
Have you do experiments based on rescaled feature on Thumos14 and what about the results? Does th

[2019-04-03 05:22] wangvenn opened #31 "What kind of linear interpolation method did you use?"
Hi Tianwei,

After extracting the features, you rescaled them into size (100,400) via linear interpolation. Could you please tell us that what kind of method did you use for that?

[2019-04-03 05:23] wangvenn opened #32 "What kind of linear interpolation method did you use?"
Hi Tianwei,

After extracting the features, you rescaled them into size (100,400) via linear interpolation. Could you please tell us that what kind of method did you use for that?

[2019-04-03 05:24] #32 closed, assigned to nobody

[2019-04-07 14:13] wzmsltw commented on #30
Hi @yinianjimo, since the duration of thumos14 videos are very long, the rescale procedure is not suitable for THUMOS14 dataset (while the duration of ActivityNet videos are limited). I have not tried to use rescaled feature on THUMOS, and I suggest that sliding window should be adopted.

[2019-04-07 14:13] #30 closed, assigned to nobody

[2019-04-07 14:15] wzmsltw commented on #23
@yinianjimo  have sent

[2019-04-07 14:17] wzmsltw commented on #31
Please refer codes in data/activitynet_feature_cuhk/data_process.py

[2019-04-07 14:20] #31 closed, assigned to nobody

[2019-04-23 05:48] zys20172212265 commented on #7
@wduo do you solve the problem?

[2019-04-24 11:24] zys20172212265 opened #33 "Excuse me,where's the video_info_csv?"
https://github.com/wzmsltw/BSN-boundary-sensitive-network/blob/f13707fbc362486e93178c39f9c4d398afe2cb2f/data/activitynet_feature_cuhk/data_process.py#L48

[2019-04-25 01:33] wzmsltw commented on #33
Hi @zys20172212265 , this file is in data/activitynet_annotations

[2019-04-25 01:33] #33 closed, assigned to nobody

[2019-04-29 08:02] syuqings opened #34 "About the TSN feature downloading"
Hi~ I've downloaded the tsn feature from Baidu Yun, but I found the total number of .csv files in the csv_mean_100 directory is 3992 after unzip. I want to know where are the video features for all the videos?

[2019-04-29 13:06] #34 closed, assigned to nobody

[2019-05-08 10:25] AMRDUN commented on #34
@Yuqing1119  Hi，I have  the same issue. How do you solve the unzip issue?

[2019-05-22 09:06] dmenig opened #35 "How to train this on a custom dataset ?"
I've been looking at this for the past few days and I can't seem to figure out how I can use this to train on any other dataset than Thumos or ActivityNet. How would you train this in the end-to-end fashion proposed in the article please ?

[2019-05-23 09:41] guancheng817 commented on #35
same question..

[2019-06-09 11:00] Zhuysheng commented on #27
@shiyi001 @wzmsltw @PeisenZhao  Hi, Could you send me a copy, my email is  yszhu@nuist.edu.cn. Many thanks.

[2019-06-11 06:00] 95xueqian commented on #35
@hyperfraise  have you know how to train this model on other dataset? thanks

[2019-06-11 06:09] 95xueqian commented on #7
@zys20172212265 have you solved the problem? thanks

[2019-06-11 08:25] dmenig commented on #35
I have, I also added a classification part, and made it really end-to-end. I'm not sure t's the most proper way of doing it but I'll show you soon.

[2019-06-11 08:49] guancheng817 commented on #35
Thanks for your works, look forward to your open source..

[2019-06-11 09:54] dmenig commented on #35
Here you have my work. I welcome criticism and error pointing !

https://github.com/hyperfraise/end-to-end-BSN.pytorch

[2019-06-15 06:44] wduo commented on #7
@zys20172212265 Solved.

[2019-07-04 11:44] zys20172212265 commented on #7
@wduo Since im just getting started in this filed , Could you show me more details about your question 3

[2019-07-18 14:35] pengxiaoxiao commented on #35
Hello, I would like to ask what kind of input data you have implemented for end-to-end BSN. I don't understand some of your source code. I'm sorry!

[2019-07-18 14:52] dmenig commented on #35
Videos of such shape (batch_size, channels, video_length, image_size, image_size)

[2019-07-18 14:53] dmenig commented on #35
And labels of shape [class, t_start, t_end]

[2019-07-18 14:53] dmenig commented on #35
See the https://github.com/hyperfraise/end-to-end-BSN.pytorch/blob/master/example.py file for demo on how to use it.

[2019-07-18 15:39] pengxiaoxiao commented on #35
Is there any script file processed? Take the thmos2014 data set as an example.

------------------ 原始邮件 ------------------
发件人: "hyperfraise"<notifications@github.com>;
发送时间: 2019年7月18日(星期四) 晚上10:52
收件人: "wzmsltw/BSN-boundary-sensitive-network"<BSN-boundary-sensitive-network@noreply.github.com>;
抄送: "摸摸头^^"<2804597917@qq.com>;"Comment"<comment@noreply.github.com>;
主题: Re: [wzmsltw/BSN-boundary-sen

[2019-07-18 20:49] dmenig commented on #35
Custom datasets will have the particularity of having custom dataloader and custom formats of data storage, label storage etc... So I thought that the only thing I could actually do is tell the reader the format of the data that should be passed to the loss functions, and let the reader decide how (s)he needed to transform his(er) jsons and videos to this end.

However, you're right that it would

[2019-07-19 00:32] pengxiaoxiao commented on #35
Thank you very much.

[2019-07-20 11:48] pengxiaoxiao commented on #35
I would like to ask your model features or the features of brother tianwei. The video feature extraction was not added to the end-to-end architecture.

------------------ 原始邮件 ------------------
发件人: "hyperfraise";
发送时间: 2019年7月18日(星期四) 晚上10:53
收件人: "wzmsltw/BSN-boundary-sensitive-network";
抄送: "shawxiao"<2804597917@qq.com>;"Comment";
主题: Re: [wzmsltw/BSN-boundary-sensitive-network] How to train t

[2019-07-20 11:58] dmenig commented on #35
Hey. i'll respond to issues on my code, on the aforementionned repo. If you've got suggestions, I'll be glad to adress them there. I don't think here is the best place :)

https://github.com/hyperfraise/end-to-end-BSN.pytorch

[2019-08-29 05:15] yklilfft commented on #23
Hi, Tianwei LIn, would u please send THUMOS14 proposals ? My mail address is yk.li@siat.ac.cn. Thanks very much!

[2019-09-02 06:05] yklilfft opened #36 "About THUMOS14 annotations"
Hi tianwei!
    Thanks a lot about BSN code release.
    I tried to train BSN on THUMOS14, do u have annotations of THUMOS14 used in BSN training procedure?

[2019-09-02 06:48] Zhuysheng opened #37 "question about PGM"
https://github.com/wzmsltw/BSN-boundary-sensitive-network/blob/f13707fbc362486e93178c39f9c4d398afe2cb2f/PGM_proposal_generation.py#L50
1.why set the start_bins[[0,-1]]=1
2.when i try to reimplement the experiment on thumos14 by pytorch, the results are not good, how to set the parameters like the tem_training_lr, tem_weight_decay in TEM
3.how to do action detection based on the generated proposals

[2019-09-15 14:54] wzmsltw commented on #37
Hi @Zhuysheng , Acutally set start_bins[0] = 1 is enough...

[2019-09-15 14:55] wzmsltw commented on #37
You can leave you email then I can send you BSN-thumos codes.

[2019-09-15 14:55] #37 closed, assigned to nobody

[2019-09-15 14:58] wzmsltw commented on #36
HI @yklilfft You can leave you email than I can send you thumos codes and files.

[2019-09-15 14:58] #36 closed, assigned to nobody

[2019-09-16 02:42] yklilfft commented on #36
Thanks a lot! My email address is 727627725@qq.com

[2019-09-17 12:30] ideaRunner opened #38 "question about poolData"
Hi, Tianwei Lin
Thanks for your BSN codes sharing.
From paper and the function [poolData](https://github.com/wzmsltw/BSN-boundary-sensitive-network/blob/master/data/activitynet_feature_cuhk/data_process.py#L62) code in this project, I noticed that there is another operation before you pass TSN features to BSN network.
That operation does interpolation from var-length TSN feature to fixed-length pr

[2019-09-18 02:07] Zhuysheng commented on #37
@wzmsltw thanks, my email address is 1072094108@qq.com

[2019-09-22 11:24] wzmsltw commented on #37
@Zhuysheng  have sent

[2019-10-10 12:51] PeisenZhao commented on #36
@wzmsltw @yklilfft Can you share the same code and files of THUMOS14 with me? Thanks a lot!
pszhao@sjtu.edu.cn

[2019-10-10 12:51] PeisenZhao commented on #36
pszhao@sjtu.edu.cn

[2019-10-11 12:23] EscargotXJ commented on #36
@wzmsltw @yklilfft I also want to get the code and files of THUMOS14. Could you share one with me? Thanks a lot! My email address is 1336742850@qq.com

[2019-10-15 03:16] Qinying-Liu commented on #36
@wzmsltw @yklilfft Can you share the code and files of THUMOS14 with me? My email is  1258168813@qq.com

[2019-11-03 02:02] Qinying-Liu commented on #37
@Zhuysheng @wzmsltw Can you share the code and files of THUMOS14 with me? My email is 1258168813@qq.com

[2019-11-03 22:08] zaie commented on #36
@wzmsltw @yklilfft Can you share the code and files of THUMOS14 with me? My email is zliu62@buffalo.edu

[2019-11-04 05:02] wzmsltw commented on #36
@zaie @canbaoburen @EscargotXJ
[BSN_share.zip](https://github.com/wzmsltw/BSN-boundary-sensitive-network/files/3802733/BSN_share.zip)

[2019-11-14 08:46] pengfanathfut opened #39 "Question about the thumos14 features"
Hi, Tianwei Lin
Thanks for your great sharing.
When I use the thumos14 features you shared, I find the row number of rgb and flow features of the same videos are different,why so and how can I do?

[2019-11-19 13:24] Light-- opened #40 "Baidu Yun files are broken, how to re-generate the files?"
I download the tsn_feature files for **many times** from the link you provided: https://pan.baidu.com/s/19GI3_-uZbd_XynUO6g-8YQ (i also tried the google drive download link, but   will be abruptly ended every time) but every time when i unzip the BaiduYun files,

[code]

i got hundreds of ```bad zipfile offset``` errors in my terminal like:

[code]

Also, when i run BMN program in pytorch(https://

[2019-12-18 21:01] pranavgundewar commented on #23
Hi Tianwei Lin, could you please send THUMOS'14 proposals to my email address- pranavgundewar@gmail.com?

Thank you so much for great work and sharing the codebase.

[2019-12-18 21:05] pranavgundewar opened #41 "Visualize Actionness probability Sequence"
Hi, thanks for the great work.

For my project, I would like to visualize the the probability actionness score for input video. How can I visualize that sequence? Any help will be appreciated.

Thank you!

[2019-12-24 04:34] yhZhai commented on #40
Hi there, I encountered the same issue, have you solved this problem? Thanks!

[2019-12-24 06:37] c8241998 commented on #40
same problem,  Have you solved it?

[2020-01-14 08:04] leemengxing commented on #24
I want to know the details of feature extraction in C3d. Can you provide？thanks very much.

[2020-02-21 00:15] semchan opened #42 "csv_mean_100/v_t_D9MYkEPEo.csv' does not exist"
the file download from Baidu as your guide, would you please help? thanks.

[2020-02-21 07:06] semchan commented on #40
please unzip in windows, may helpful for you.

[2020-03-16 01:44] semchan commented on #27
Hi, Tianwei,
would you pls send it to me? thanks. 380003859@qq.com

[2020-03-20 11:18] doudou123456 opened #43 "the two-stream and C3D features ？"
Your job is excellent, but where can I get the two-stream and C3D features for comparative experiments? thankes！！！

[2020-03-20 11:25] doudou123456 commented on #39
Where can I get the  the thumos14 features？ thanks！！

[2020-03-20 11:34] #43 closed, assigned to nobody

[2020-03-23 08:29] ciwei123 commented on #27
@shiyi001 @wzmsltw @PeisenZhao @semchan Would you please send the code which generates the detection result to me? 2606789239@qq.com Thank you very much!

[2020-03-25 19:40] zhuolinumd commented on #27
@shiyi001 @wzmsltw @PeisenZhao @semchan @ciwei123

Can you share the detection code with me? 10432110@qq.com Thank you so much.

[2020-03-30 16:40] Lechatelia commented on #23
Hi, Tianwei Lin.  I am a student from  Xi'an Jiaotong Unversity,  and could you also send me the proposals of THUMOS14? My email is lechatelia@stu.xjtu.edu.cn. thanks!

[2020-04-14 07:54] pengjinqiang commented on #27
@shiyi001 @wzmsltw @PeisenZhao @semchan @ciwei123
Could you please send me the same code? 343400575@qq.com Thanks!

[2020-04-28 02:21] doudou123456 commented on #36
@yklilfft Can you share the same code and files of THUMOS14 with me? Thanks a lot! My email is 804641065@qq.com

[2020-04-28 02:22] doudou123456 commented on #37
@Zhuysheng Can you share the same code and files of THUMOS14 with me? Thanks a lot! My email is 804641065@qq.com

[2020-04-28 02:37] doudou123456 commented on #37
@Zhuysheng @wzmsltw Thank you a lot. Recently, our research group is following your work. If you can share the code and files of THUMOS14 with us, it will be convenient for us to do comparative experiments. My email is 804641065@qq.com

[2020-05-29 12:47] YanZhang-bit opened #44 "why multi 0.01 before sigmoid function?"
"x = torch.sigmoid(0.01*self.conv3(x))" why multi 0.01 before sigmoid function?

[2020-05-29 14:12] Jockey721 commented on #23
Hi, Tianwei LIn @wzmsltw  , i tried to reproduce the experiment on THUMOS14, but the performance (AR@100 from ) is only 37%. Could you also send me the proposals of THUMOS14 foranalysis? My mail address is 812618101@qq.com. Thanks very much!

[2020-05-29 14:17] Jockey721 commented on #30
Hi @wzmsltw ， i want to reproduce the experiments on THUMOS14，could you release some details about the setting on THUMOS？

[2020-06-06 12:42] wzmsltw commented on #30
attached.

Jockey <notifications@github.com> 于2020年5月29日周五 下午10:17写道：

[2020-06-08 11:02] 812618101 commented on #30
Thanks a lot! Here is my email : 812618101@qq.com
By the way, could you send me the generated proposals on THUMOS14?

[2020-06-08 11:03] Jockey721 commented on #30
Thanks a lot! Here is my email : 812618101@qq.com
By the way, could you send me the generated proposals on THUMOS14?

[2020-06-12 08:21] PawnGeek commented on #27
@shiyi001 @wzmsltw @PeisenZhao @semchan @ciwei123
Could you please send me the same code? 349354604@qq.com Thanks!

[2020-08-13 08:15] maodong2056 commented on #27
@wzmsltw @shiyi001 @semchan @PeisenZhao @jiang2764 Could you share the detection code and results with me?273270145@qq.com Thanks!

[2020-09-03 03:03] lucky-23 commented on #40
I have the same problem. Can anyone please help me solve this issue?

[2020-09-03 03:27] lucky-23 opened #45 "csv_mean_100/v_nt4Ag91306U.csv does not exist"
Hi,

I got this problem of data/activitynet_feature_cuhk/csv_mean_100/v_nt4Ag91306U.csv does not exist. It seems that some of the files are missing.Can you please tell me how to solve this problem?

[2020-09-03 03:29] lucky-23 commented on #42
Hi, did you solve this problem?

[2020-10-20 16:25] makecent opened #46 "Feature extraction for THUMOS14 is strange"
According to the "Implementation Details" part in Section 4 of the original paper, you use the model pre-trained on the training set of ActivityNet-1.3 as the features extractor. And I don't make anything wrong, your BMN uses the output of the last layer as the feature. That's why you get 400-dimensions length features (200 classes, 2 streams).

But the output of the last layer should represent th

[2020-11-22 06:48] jojojo-h commented on #23
Hi, Tianwei LIn, would u please send THUMOS14 proposals ? My mail address is 2994056113@qq.com. Thanks very much!

[2020-11-24 02:43] immaping commented on #27
@wzmsltw @shiyi001 @PeisenZhao @semchan @jiang2764 Would you please send the code which generates the detection result to me? lee55777@163.com Thank you very much!

[2020-12-29 09:06] pengjinqiang commented on #24
Why the features you provided are of dimension 487. I think it would be either 200 or 400, but why 487. What is the meaning of 487. @wzmsltw
-------------------------------------------------------------
I found that 487 is the number of the category of Sports-1M. So, the C3D features of THUMOS14 are extracted by C3D model pretrained on Sports-1M? But in your paper, the C3D features of THUMOS14 are

[2021-01-02 17:25] Malithi-gif opened #47 "Apply for video"
Hi,

This is nice work, I would like to apply this for video, How this applies to video?

[2021-01-05 16:16] Malithi-gif commented on #35
@hyperfraise have you apply this into custom video dataset?

[2021-01-05 16:22] dmenig commented on #35
Yes I failed to go above baseline accuracy. But I never could with temporal detection framework anyways :/

[2021-01-05 16:25] Malithi-gif commented on #35
@hyperfraise, Thanks for your reply. What method use for get the video features? TSN?

[2021-01-05 16:35] dmenig commented on #35
I trained it fully end to end with 2d resnet 18 feature extractor with the code I linked. So I extracted features on the fly.

[2021-02-22 09:52] liuheng92 commented on #27
@wzmsltw @shiyi001 @PeisenZhao @semchan @jiang2764 Can you share the detection code with me? 1041017843@qq.com, Thx!

[2021-03-03 06:34] lucky-23 opened #48 "Thumos annotation files"
Hi! Thanks a lot for the code! I am referring to this model as well as BMN model for my own work and I need to test my model on the Thumos dataset too. Can you please share the annotation files for the THUMOS dataset? I would really appreciate it if you do!
Thanks!

[2021-04-05 23:09] Griffintaur commented on #18
@wzmsltw @fkxssaa, I am also working on action proposals. It would be great if you could send me the post-processing code for THUMOS14 for UNet Classification
Email: ankitsingh135@gmail.com

[2021-04-06 06:23] gexiaojingshelby opened #49 "urllib2.URLError: <urlopen error [Errno 110] Connection timed out>"
Thanks for your great work.
I want to get the evaluation results. So I followed the readme in Evaluation and use the command python get_classification_performance.py data/activity_net.v1-3.min.json sample_classification_prediction.json. But I got the error urllib2.URLError: <urlopen error [Errno 110] Connection timed out>. Then I checked the url: http://ec2-52-11-11-89.us-west-2.compute.amazonaws.

[2021-04-25 06:32] hanielwang commented on #27
@wzmsltw @shiyi001 @PeisenZhao @semchan @jiang2764 Can you share the detection code with me? Thanks. 302747091@qq.com

[2021-06-12 11:33] tomatowithpotato opened #50 "how to get THUMOS14 features?"

[2021-07-02 06:30] yangsuhui opened #51 "how to get video_info.csv"
Excusme ,could you tell me how you get video_info.csv and anet_anno_action.csv files ?
Is the two files you created from activity-net.v1-3.min.json ? Then could you please send the script to me?
Thank you very much!!!
My email is m13332019336@163.com

[2021-07-22 02:13] NooneOnlyOne commented on #27
@wzmsltw @AmorTila @shiyi001 @PeisenZhao @jiang2764 @semchan Could you share the detection code with me?
1584450964@qq.com  ,   Thank you very much!

[2021-08-17 02:17] lucky-23 commented on #27
@wzmsltw @shiyi001 @liuheng92 @jiang2764 @semchan could you please share the detection code with me ? I have been stuck on the action detection for many days .My email is lkeisham23@gmail.com. Thank you very much!

[2021-08-29 04:22] chenshen03 commented on #46
the same problem

[2022-01-09 14:39] ttjygbtj opened #52 "where is *_image_labels.bin,*_temporal_labels.bin,*_feature_data.bin"
where is  *_image_labels.bin,*_temporal_labels.bin,*_feature_data.bin?

[2022-06-30 12:18] xianguo-dev commented on #50
Hi! Have figure it out yet? I have the same question.

[2022-06-30 12:40] xianguo-dev commented on #46
Maybe he means it is extracted after training with ActivityNet-1.3 pretrained model? It will make sense then.

[2022-06-30 13:36] makecent commented on #46
The feature extractor (pretrained model) is **fixed** without further training.

[2022-08-09 08:49] wang136618693 opened #53 "About video_ info_ New.csv"
Hello! I have benefited a lot from reading your code base, but I have another question to ask you.
What is the meaning of the attribute "rfps" in the fifth column of video_info_new.csv?
I hope you can answer in time, thank you！

[2022-09-23 02:41] xianguo-dev commented on #7
Hi! I'm confused about how to extract feature for every snippet? Does it mean that I need to use every snippet(16 frames as Tianwei do)as input of TSN? And  the score of snippets is the output(feature)?